@import "themes/catppuccin-machiato.css";


@keyframes blink-warning {
    70% {
        color: @light;
    }

    to {
        color: @light;
        background-color: @warning;
    }
}

@keyframes blink-critical {
    70% {
      color: @light;
    }

    to {
        color: @light;
        background-color: @critical;
    }
}


/* -----------------------------------------------------------------------------
 * Styles
 * -------------------------------------------------------------------------- */

/* COLORS */
/* Quick Access */
@define-color bg rgba(36, 39, 58, 0.7);  /* background but with transparency */
@define-color fg @text;
@define-color light @subtext1;
@define-color warning @yellow;
@define-color critical @red;

/* Reset all styles */
* {
    background-color: transparent;
    border: none;
    border-radius: 10px;
    border-width: 4px;
    min-height: 0;
    margin: 1px 6px 1px 6px;
}

/* The whole bar */
#waybar {
    background-color: transparent;
    color: @fg;
    font-family: "Hurmit Nerd Font", "Font Awesome";
    font-size: 22px;
    font-weight: bold;
    border-radius: 0px;
}

/* Each module */
#custom-wlogout,
#taskbar,
#tray,
#workspaces,
#memory
#cpu,
#clock {
    background-color: @bg;
}

/* indicators */
#memory,
#cpu,
#pulseaudio,
#clock {
    padding-right: 5px;
    padding-left: 5px;
    border-radius: 0px;
    border-style: solid none solid none;
    border-color: @overlay0;
    margin-right: 0px;
    margin-left: 0px;
    background-color: @surface0;
}


/* Each module that should blink */
#mode,
#memory,
#temperature,
#battery {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

/* Each critical module */
#memory.critical,
#cpu.critical,
#temperature.critical,
#battery.critical {
    color: @critical;
}

/* Each critical that should blink */
#mode,
#memory.critical,
#temperature.critical,
#battery.critical.discharging {
    animation-name: blink-critical;
    animation-duration: 2s;
}

/* Each warning */
#network.disconnected,
#memory.warning,
#cpu.warning,
#temperature.warning,
#battery.warning {
    background: @warning;
    color: @yellow;
}

/* Each warning that should blink */
#battery.warning.discharging {
    animation-name: blink-warning;
    animation-duration: 3s;
}

/* And now modules themselves in their respective order */

#custom-wlogout {
    padding: 7px;
    padding-right: 10px;
    color: @red;
    border-color: @overlay1;
    border-style: solid;
}

/* taskbar */
#taskbar {
    border-color: @overlay1;
    border-style: solid;
}

#taskbar button:hover {
    background-color: @flamingo;
}

#tray {
    border-color: @overlay1;
    border-style: solid;
}
/* Workspaces stuff */

#workspaces {
    margin-right: 10px;
    border-color: @overlay1;
    border-style: solid;
}

#workspaces button {
    font-weight: bold; /* Somewhy the bar-wide setting is ignored*/
    padding: 0;
}

#workspaces button:hover {
    background-color: @flamingo;
}

#workspaces button.active {
    color: @green;
    border-color: @green;
}

#workspaces button.urgent {
    border-color: @red;
    color: @red;
}

#window {
    margin-right: 40px;
    margin-left: 40px;
    font-weight: bold;
    font-size: 22px;
}

/*
#bluetooth {
    background: @nord_bg_blue;
    font-size: 1.2em;
    font-weight: bold;
    padding: 0 0.6em;
}
#custom-gpu {
    background: @nord_bg;
    font-weight: bold;
    padding: 0 0.6em;
}
#custom-weather {
    background: @mode;
    font-weight: bold;
    padding: 0 0.6em;
}
#custom-pacman {
    background: @nord_light;
    color: @nord_dark_font;
    font-weight: bold;
    padding: 0 0.6em;
}
#custom-scratchpad-indicator {
    background: @nord_light;
    color: @nord_dark_font;
    font-weight: bold;
    padding: 0 0.6em;
}
#idle_inhibitor {
    background: @mode;
    font-weight: bold;
    padding: 0 0.6em;
}

#network {
    background: @nord_bg_blue;
}

*/

#memory {
    /* it's the most left indicator */
    border-radius: 10px 0px 0px 10px;
    border-style: solid none solid solid;
    color: @blue;
}

#cpu {
    color: @green;
}
#cpu.warning {
    color: @yellow;
}

#cpu.critical {
    color: @red;
}
#language {
    padding: 0 0.4em;
}
#temperature {
    color: @green;
}
#temperature.critical {
    color:  @red;
}

#pulseaudio {
    color: @mauve;
}

#pulseaudio.muted {
    color: @red;
    /* No styles */
}
#pulseaudio.source-muted {
    color: @peach;
    /* No styles */
}

#clock {
   /* it's the most right indicator */
    border-radius: 0px 10px 10px 0px;
    border-style: solid solid solid none;
    color: @frost0;
}
#clock.time {
    color: @teal;
}

